* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

section {
    width: 1320px;
    margin: 0 auto;
}

.primary-font {
    font-family: "Merriweather", serif;
}

.btn-primary {
    background-color: #FF0000;
    color: #fff;
    font-family: "Inter", sans-serif;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    color: #FF0000;
    background-color: #fff;
}

/* Header Section Style */

.header-banner {
    background: linear-gradient(rgba(7,2,17,1),rgba(7,2,17,0)), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    padding: 180px 0;
}

.header-banner-grettings {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.header-banner-title {
    font-size: 72px;
    color: #fff;
    line-height: 95px;
    font-weight: bolder;
    text-align: center;
    width: 632px;
    margin: 0 auto;
}

/* Off Section Design */

.off-section {
    margin: 120px auto;
    text-align: center;
}

.off-section-name {
    font-size: 88px;
    color: #FF0000;
    font-weight: 800;
    margin-bottom: 48px;
}

.off-title {
    font-size: 24px;
    color: #FF0000;
    font-weight: 400;
    margin-bottom: 16px;
}

.off-category {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
    color: #070211;
}

/* Call-To-Action Section */

.call-to-action-section {
    background-image: linear-gradient(to right, rgba(7,2,17,1),rgba(7,2,17,0)), url('../resources/Vectorrr.png');
    margin-bottom: 120px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.call-to-action-content {
    width: 680px;
    margin: 126px;
    margin-right: 0px;
}

.call-to-action-title {
    font-size: 64px;
    font-weight: bolder;
    line-height: 88px;
    width: 640px;
    color: #fff;
    margin-bottom: 24px;
}

.call-to-action-description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 38px;
    width: 680px;
}

.call-to-action-image {
    width: 640px;
}

.call-to-action-image img {
    width: 320px;
    height: 465px;
    margin: 68px 0px;
}

/* Footer Style */

footer {
    background-color: #070211;
}

.footer-section {
    padding: 120px 140px;
    color: #fff;
    font-size: 24px;
}

.footer-container, .footer-policy {
    display: flex;
    justify-content: space-between;
}

.footer-container {
    margin-bottom: 50px;
    line-height: 40px;
}

.footer-address {
    width: 375px;
}

.footer-contact {
    width: 250px;
}

.footer-contact img {
    width: 24px;
    margin-right: 16px;
    position: relative;
    top: 4px;
    left: 0px;
}

hr {
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-social-icons {
    text-align: center;
    margin: 48px 0;
}

.footer-social-icons img {
    width: 64px;
    margin-right: 24px;
}

.footer-policy {
    margin-top: 50px;
}